################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/downloads
/PodDownload/bin/Debug/net6.0
/PodDownload/obj
*.vsidx
PodDownload/.vs/PodDownload/FileContentIndex/94d773d2-7eb1-4454-9bd9-93cde3d576ae.vsidx
PodDownload/.vs/PodDownload/FileContentIndex/94d773d2-7eb1-4454-9bd9-93cde3d576ae.vsidx
PodDownload/.vs/PodDownload/FileContentIndex/ab9c3cf7-2226-4ea4-90ee-0c1ecaba6316.vsidx
PodDownload/.vs/PodDownload/v17/.suo
PodDownload/.vs/PodDownload/v17/.suo
PodDownload/.vs/ProjectEvaluation/poddownload.metadata.v5.1
PodDownload/.vs/PodDownload/FileContentIndex/42f5482f-47ad-4f89-85b6-91b12219d505.vsidx
PodDownload/.vs/PodDownload/FileContentIndex/94d773d2-7eb1-4454-9bd9-93cde3d576ae.vsidx
PodDownload/.vs/PodDownload/FileContentIndex/ab9c3cf7-2226-4ea4-90ee-0c1ecaba6316.vsidx
PodDownload/.vs/PodDownload/v17/.suo
PodDownload/.vs/ProjectEvaluation/poddownload.metadata.v5.1
PodDownload/.vs/ProjectEvaluation/poddownload.projects.v5.1
